<footer class="footer">
      <div class="container">
        <p class="text-muted">Aplpha Blog. Please visit my
        <a href="https://au.linkedin.com/in/philipp-thurner">LinkedIn</a> page</p>
      </div>
</footer>